<script>
//Facebook SDK

//TODO: Replace appID and version hardcode with variables
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '221384251965280',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.2'
    });

    FB.AppEvents.logPageView();

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));


//Check Login Status
    FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
    });


/*
The response object
    {
        status: 'connected',
        authResponse: {
            accessToken: '...',
            expiresIn:'...',
            signedRequest:'...',
            userID:'...'
        }
    }
*/
</script>

    <!-- Generate The Facebook Button -->

    <div
            class="fb-login-button"
            data-max-rows="1"
            data-size="large"
            data-button-type="login_with"
            data-show-faces="false"
            data-auto-logout-link="true"
            data-use-continue-as="false">
    </div>